DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/cartes_en_joc?schema=public"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_PLACES_API_KEY=""
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
